/*
Syntax error: Illegal property syntax: can't use new syntax when :property_syntax => :old is set.
        on line 2 of ./app/stylesheets/sass/application.sass

1: body
2:   background-color: red

Backtrace:
./app/stylesheets/sass/application.sass:2
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.22/lib/sass/tree/prop_node.rb:158:in `check!'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.22/lib/sass/tree/prop_node.rb:106:in `_cssize'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.22/lib/sass/tree/node.rb:193:in `cssize'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.22/lib/sass/tree/node.rb:292:in `block in cssize!'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.22/lib/sass/tree/node.rb:292:in `map'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.22/lib/sass/tree/node.rb:292:in `cssize!'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.22/lib/sass/tree/rule_node.rb:226:in `cssize!'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.22/lib/sass/tree/node.rb:278:in `_cssize'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.22/lib/sass/tree/rule_node.rb:201:in `_cssize'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.22/lib/sass/tree/node.rb:193:in `cssize'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.22/lib/sass/tree/node.rb:292:in `block in cssize!'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.22/lib/sass/tree/node.rb:292:in `map'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.22/lib/sass/tree/node.rb:292:in `cssize!'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.22/lib/sass/tree/node.rb:278:in `_cssize'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.22/lib/sass/tree/node.rb:193:in `cssize'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.22/lib/sass/tree/root_node.rb:50:in `cssize'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.22/lib/sass/tree/root_node.rb:29:in `render'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.22/lib/sass/plugin.rb:220:in `update_stylesheet'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.22/lib/sass/plugin.rb:85:in `block (2 levels) in update_stylesheets'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.22/lib/sass/plugin.rb:78:in `each'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.22/lib/sass/plugin.rb:78:in `block in update_stylesheets'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.22/lib/sass/plugin.rb:76:in `each'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.22/lib/sass/plugin.rb:76:in `update_stylesheets'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.22/lib/sass/plugin.rb:50:in `check_for_updates'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.22/lib/sass/plugin/rack.rb:40:in `call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.1/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.1/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.1/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.1/lib/action_dispatch/middleware/flash.rb:182:in `call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.1/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.1/lib/action_dispatch/middleware/cookies.rb:287:in `call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/activerecord-3.0.1/lib/active_record/query_cache.rb:32:in `block in call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/activerecord-3.0.1/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/activerecord-3.0.1/lib/active_record/query_cache.rb:12:in `cache'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/activerecord-3.0.1/lib/active_record/query_cache.rb:31:in `call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/activerecord-3.0.1/lib/active_record/connection_adapters/abstract/connection_pool.rb:355:in `call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.1/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/activesupport-3.0.1/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.1/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.1/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.1/lib/action_dispatch/middleware/show_exceptions.rb:46:in `call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/railties-3.0.1/lib/rails/rack/logger.rb:13:in `call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/activesupport-3.0.1/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/rack-1.2.1/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.1/lib/action_dispatch/middleware/static.rb:30:in `call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/railties-3.0.1/lib/rails/application.rb:168:in `call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/railties-3.0.1/lib/rails/application.rb:77:in `method_missing'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/rack-1.2.1/lib/rack/lint.rb:48:in `_call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/rack-1.2.1/lib/rack/lint.rb:36:in `call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/rack-1.2.1/lib/rack/showexceptions.rb:24:in `call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/rack-1.2.1/lib/rack/commonlogger.rb:18:in `call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/rack-1.2.1/lib/rack/content_length.rb:13:in `call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/rack-1.2.1/lib/rack/chunked.rb:15:in `call'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/rack-1.2.1/lib/rack/handler/mongrel.rb:67:in `process'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/mongrel-1.2.0.pre2/lib/mongrel.rb:165:in `block in process_client'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/mongrel-1.2.0.pre2/lib/mongrel.rb:164:in `each'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/mongrel-1.2.0.pre2/lib/mongrel.rb:164:in `process_client'
/home/bernardo/.rvm/gems/ruby-1.9.2-head/gems/mongrel-1.2.0.pre2/lib/mongrel.rb:291:in `block (2 levels) in run'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Illegal property syntax: can't use new syntax when :property_syntax => :old is set.\A         on line 2 of ./app/stylesheets/sass/application.sass\A \A 1: body\A 2:   background-color: red"; }
