body {
  background-image: url(../images/body_background.png);
  background-attachment: fixed;
  font-family: arial; }

#header {
  color: #6691C9;
  width: 80%;
  height: 88px;
  margin: auto; }
  #header td {
    padding-left: 30px; }

#container {
  width: 80%;
  background-color: white;
  margin: auto;
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px; }
  #container a {
    text-decoration: none;
    color: green; }
  #container a.action_button {
    font-weight: bold;
    padding: 10px;
    background-color: #FF3F0F;
    border: solid #FFCC94;
    color: white; }

#footer {
  width: 80%;
  background-color: grey;
  margin: auto;
  padding: 20px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  color: white; }
  #footer ul li {
    display: inline; }
  #footer a {
    color: white;
    text-decoration: none; }

img {
  border: none; }

.radius {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

table.main_table {
  border-spacing: 0px 1px;
  margin-bottom: 20px;
  font-size: 15px; }
  table.main_table th {
    background-color: grey;
    color: white;
    padding: 5px 5px;
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    border-style: solid;
    border-width: 1px; }
  table.main_table td {
    background-color: #e9ffe2;
    padding: 1em; }
  table.main_table tr:hover td {
    background-color: #aeffa6; }

p.empty_table {
  padding: 30px;
  color: grey; }

.notice {
  background-color: #e9ffe2;
  width: 600px;
  padding: 8px;
  text-align: center; }

#error {
  padding-bottom: 20px; }

.error {
  color: white;
  width: 600px;
  padding: 8px;
  text-align: center; }

.errorExplanation {
  background-color: #FFE9E9;
  border: 2px solid red;
  width: 450px; }

.errorExplanation h2 {
  padding: 5px;
  height: 20px;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  background-color: #E51709;
  color: white; }

.errorExplanation ul li {
  color: black;
  text-align: left; }

.field_with_errors {
  font-weight: bold;
  color: red;
  display: inline; }

.field_with_errors input {
  background-color: #FFE9E9;
  border: none; }

#form {
  width: 95%;
  margin: auto; }
  #form td {
    padding-left: 25px;
    padding-bottom: 5px; }
  #form input {
    font-size: 1.3em;
    color: #333333; }
  #form hr {
    color: white;
    border: none;
    font-size: 1.5em; }

.label {
  font-weight: bold;
  color: #333333;
  text-align: right; }

.hint {
  font-size: .8em;
  color: grey; }
