// VARIABLES -------------

$content_width: 80%;
$default_font: arial;
$body_background: url(../images/body_background.png);

// Main TABLE

$th_color: #30AE11;
$td_color: #DBFFD1;
$tr_hover_color: #AEFFA6;

// SCSS ----------------

body {
  background-image: $body_background;
  font-family: $default_font;
}


#container {
  width: $content_width;
  background-color: white;
  margin: auto;
  padding: 20px;
  -moz-border-radius: 10px 10px 0px 0px;
  a {
    text-decoration: none;
    color: green;
}

a.action_button {
  font-weight: bold;
  padding: 10px;
  background-color: #FF3F0F;
  border: solid #FFCC94;
  color: white;
 }
}

#footer {
  width: $content_width;
  background-color: grey;
  margin: auto;
  padding: 20px;
  -moz-border-radius: 0px 0px 10px 10px;
  color: white;
  ul li {
    display: inline;
  }
  a {
    color: white;
  }
}

.radius {
  -moz-border-radius: 10px;
}

table.main_table {
  border-spacing: 0px 1px;
  th {
    background-color: $th_color;
    color: white;
    padding: 5px 5px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-style: solid;
    border-width: 1px;
 }
 td {
   background-color: $td_color;
   padding: 1em;
}
tr:hover td {
  background-color: $tr_hover_color;
}
}

p.empty_table {
  padding: 30px;
  color: grey;
}

.notice {
  background-color: #C3E1E4;
  width: 600px;
  padding: 8px;
  text-align: center;
}

.error {
  color: white;
  width: 600px;
  padding: 8px;
  text-align: center;
}

.errorExplanation {
  background-color: #FFE9E9;
  border: 2px solid red;
  width: 450px;
}

.errorExplanation h2 {
  padding: 5px;
  height: 20px;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  background-color: #E51709;
  color: white;
}

.errorExplanation ul li {
  color: black;
  text-align: left;
}

.field_with_errors {
  font-weight: bold;
  color: red;
  display: inline;
 }

 .field_with_errors input {
   border: 2px solid red;
}
