- title 'Sobre el Negocio'

#about
  = image_tag 'about.jpg'

%p
  Provisiones Frutas y Verduras Chusmisa, nace en el año 1995.
  Está ubicado en
  %i
    Chusmisa #75, 4° Sector El Olivar en Viña del Mar, Chile.
  %br
  %br
  Su dueño y administrador es el señor Bernardo Arancibia Quiroz.
  %br
  El objetivo del almacén es suministrar diferentes productos, ya sea
  alimenticios, aseo general, entre otros, a los residentes del sector.
  Se destaca por su buena atención y su buen stock de productos y precios.

  %br
  %br
  Para mayor información comuníquese con el número de teléfono 32-2856979.

%h3 Sobre el Proyecto

%p
  Vitrina Online y Sistema Automatizado de Ventas, fue creado por alumnos de la
  Universidad Técnica Federico Santa María, Sede Viña del Mar. El objetivo y la motivación de
  este proyecto es acercar las nuevas tecnologías a pequeños negocios de barrio, permitiéndoles
  administrar el stock de sus productos, gestionar ventas y pedidos con sus clientes.
