- title "Listado de productos mas vendidos"

=high_chart("grafico", @h)

//  - if @prods.length == 0
//	 %p.empty_table No existen productos ingresados para realizar la estadística.
//	- else
//	 %table.main_table
//	   %th Producto
//	   %th Cantidad Vendida
//	   - @prods.each do |producto|
//	     %tr
//	       %td= producto[:nombre].titleize
//	       - if producto[:cantidad] == 0
//	         %td Producto sin vender
//	       - else
//	         %td= producto[:cantidad].to_s + " Kg o unidades"
