%h2 Bienvenidos a Nuestra Vitrina Online
%p
  Usted puede ingresar a nuestra intranet para realizar pedidos o gestionar de
  forma previa sus compras en nuestro local. Sólo debe ingresar como cliente,
  o pedir una cuenta en nuestro local.

%p
  %br
  %br
  = link_to 'Ingreso de Clientes', :login, :class => 'action_button radius'

