
%h2 Bienvenidos a Nuestra Vitrina Online
%p
  Usted puede ingresar a nuestra intranet para realizar pedidos o gestionar de
  forma previa sus
  %br
  compras en nuestro local. Sólo debe ingresar como cliente,
  o pedir una cuenta en nuestro local.

%br
%br
%br

%center
  = image_tag 'cart_window.png'

%center
  %p
    %br
    - unless @cliente || @administrador
      = link_to 'Ingreso de Clientes', :login_clientes, :class => 'action_button radius'
      = link_to 'Ingreso de Vendedores', :login_ventas, :class => 'action_button radius'

