- title "Listado de Pedidos"

- if @peds.length == 0
  %p.empty_table No existen pedidos ingresados.
- else
  %table.main_table
    %th Cliente
    %th Total
    %th Estado
    - @peds.each do |pedido|
      %tr
        %td= pedido.cliente.nombre
        %td= number_to_currency(pedido.total_pedido)
        - if pedido.aceptado?
          %td Aceptado
        - else
          %td Pendiente
        %td= link_to 'Detalle', pedido

