- title "Libro de Ventas"

%table.libro_de_ventas{:border => 1, :cellpadding => 16, :rules => 'cols', :frame => 'vsides'}
  %tr
    %th Días
    %th
      Boletas
      %br
      del N°
    %th
      Boletas
      %br
      al N°
    %th
      Ventas
      %br
      con Boleta
    %th{:colspan => 2}
      Ventas
      %br
      sin Boleta
    %th
      Total ventas
      %br
      con Boleta

    %tr
      %td
      %td
      %td
      %th
        Afectas
        %br
        incluido IVA

      %th Exentas
      %th
        Afectas
        %br
        incluido IVA

  %tr
    %td 1
    %td 123
    %td 123
    %td 123
    %td 123
    %td 123
    %td 123
  %tr
    %td 2
    %td 456
    %td 456
    %td 456
    %td 456
    %td 456
    %td 456
