= render "layouts/menu_vendedor" if @vendedor
= render "layouts/menu_public" unless @vendedor

%p
  Provisiones Frutas y Verduras Chusmisa
  |
  %i
    Chusmisa #75, 4° Sector El Olivar, Viña del Mar
  | 32-2856979 | Todos los derechos reservados -
  = Time.now.year
