%table
  %tr
    %td
      = image_tag 'icons/logo.png', :size => '100x100'
    %td
      %h1 Provisiones Chusmisa
    %td
      #session_menu
        = render "layouts/menu_session" if session[:vendedor_id] || session[:cliente_id]

